
@media (max-width: 1400px) {

    .education{
        width: 100%;

    }
    .education__content {
        grid-template-areas:
        "left left left"
        "right right right";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    .educationRight--first{
        grid-area: 2 / 1 / 2 / 2;
    }

    .educationRight--seconds{
        grid-area: 2 / 2 / 2 / 4;
    }

    .educationRight--third{
        grid-area: 3 / 1 / 3 / 2;
    }

    .educationRight--fourth{
        grid-area: 3 / 2 / 3 / 4;
    }
    .educationLeft__item{
        grid-area: 1 / 1 / 1 / 3;
        margin: 0 auto;
    }
    .educationRight, .educationLeft{
        margin: 0 auto;
    }
    .educationRight__item {
        width: 47.6rem;
        padding-bottom: 2rem;
        height: 44.4rem;
    }
    .educationLeft__item {
        width: 73.6rem;
    }
    .footerRight__content {
        margin: 0 auto;
    }
    .testList {
        width: auto;
    }
    .educationList{
        width: auto;
    }
}
@media (max-width: 1200px) {

    .test__title {
        font-size: 3.6rem;
    }

    .footer__content {
        flex-direction: column;
        width: 100%;
    }
    .footerRight{
        order: 2;
    }
    .footerLeft{
        order: 1;
        align-items: center;
    }
    .footerRight__text {
        width: fit-content;
    }

    .footerLeft__icons {

        margin-top: 5rem;
    }
    .footer__content{

        gap: 2rem;

    }

    .footerRight__copyRight {
        text-align: center;
        margin: 0 auto;
    }
    .footerRight__text{margin: 1.5rem auto;}


    .footerRight__images {
        margin: 0 auto;
    }

}


@media (max-width: 992px) {
    .navbar__items{
        display: none;
    }
    .navbar__hamburgerButton{
        display: flex;
    }
    .navbar__blackBackground{
        display: block;
    }
    .navbar__itemsMobile{
        display: flex;
    }

    .education__title{
        font-size: 2.95rem;
    }
    .education__content {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .educationLeft{
        grid-area: 1 / 1 / 1 / 4;
    }

    .educationRight--first{
        grid-area: 2 / 2 / 2 / 4;
    }

    .educationRight--seconds{
        grid-area: 2 / 1 / 2 / 2;
    }

    .educationRight--third{
        grid-area: 3 / 2 / 3 / 4;
    }

    .educationRight--fourth{
        grid-area: 3 / 1 / 3 / 2;
    }
    .educationRight, .educationLeft{
        margin: 0 auto;
    }
    .educationRight__item {
        width: 34.6rem;
        height: 36rem;
    }
    .educationLeft__item {
        width: 46.6rem;
        height: 55rem;
    }
    .login__field, .register__field {
        width: 71.7rem;
    }

}

@media (max-width: 768px) {
    .testItem {
        width: 70%;
    }


    .login__title, .register__title {
        font-size: 5.5rem;
    }
    .education__header{flex-direction:column-reverse;gap: 1rem;align-items: center;}

    .education__content {

        grid-template-columns: 100%;
        grid-template-rows: repeat(7, auto);
    }

    .education__button {
        font-size: 1.55rem;
        width: 18.4rem;
        height: 5.4rem;
    }
    .educationLeft{
        grid-area: 1 / 1 / 1 / 2;
    }

    .educationRight--first{
        grid-area: 2 / 1 / 2 / 2;
    }

    .educationRight--seconds{
        grid-area: 3 / 1 / 3 / 2;
    }

    .educationRight--third{
        grid-area: 4 / 1 / 4 / 2;
    }

    .educationRight--fourth {
        grid-area: 5 / 1 / 5 / 2;
    }
    .educationLeft__item, .educationRight__item  {
        width: 46.6rem;
        height: 55rem;
    }

    .educationRight__item  {
        height: 44rem;
    }

    .login__button{
        margin: 0 auto 2rem auto;
    }

}

@media (max-width: 576px) {
    .header__items{
        padding: 2rem 0;
    }
    .mainHeader__description{
        width: 28rem;
    }
    .mainHeader__button{
        padding: 1.2rem;
        font-size: 1.3rem;
    }
    .educationLeft__texts {
        padding: 2.5rem 3rem;
    }
    .footerRight__images {
        display: none;
    }
    .footerRight__copyRight {
        margin-top: 1.5rem;
    }
    .educationRight__item{width: 29rem;height: 35rem;}

    .testItem {
        width: 85%;
    }
    .educationLeft__item{width: 29rem;height: 48rem;}
    .testList__title {
        font-size: 3.2rem;
    }
    .educationList__title {
        font-size: 4rem;
    }

}

@media (max-width: 400px) {
    .testListItem__title{font-size: 1.9rem;}

    .testListItem__description{font-size: 1.6rem;}

    .testListItem__footerImage{width: 5.5rem;height: 5.5rem;}

    .educationRight--mini .educationRight__item {
        width: 28.6rem;
        height: 33.4rem;
    }



}

@media (min-width: 1400px) {

}