
@media (max-width: 1400px) {

}
@media (max-width: 1200px) {


}


@media (max-width: 992px) {
    .navbar__items{
        display: none;
    }
    .navbar__hamburgerButton{
        display: flex;
    }
    .navbar__blackBackground{
        display: block;
    }
    .navbar__itemsMobile{
        display: flex;
    }

    .test{max-width: 95%;}


}

@media (max-width: 768px) {
    .test__container{padding: 3.5rem 1.5rem 4.2rem;}
    .test__description{text-align: justify;}

}

@media (max-width: 576px) {
    .header__items{
        padding: 2rem 0;
    }

}

@media (max-width: 400px) {
    .test__label{min-width: 120%;}
}


@media (min-width: 1400px) {

}

